body {
  margin: 0 auto;
  padding: 0 auto;
}
.col-12 {
  width: 95%;
  margin: 10px;
  height: 95px;
 
  
}
.left-col{ 
  float: left;
  width: 40%;
  height: 800px;
  margin: 10px;
  background-image: url(https://uploads.mordhau.com/spirit/images/1672/269f4a1036e336c13c9b3ce132a9d493.png)!important;
  background-size: 100% 100%;
  background-repeat: no-repeat!important;
  
}

.col-1 {
  float: left;
  width: 40%;
  height: 800px;
  margin: 10px;
  background: #ADFF2F;
}

.col-5{
  float: left;
  width: 40%;
  margin: 10px;
  height: 800px;
  background-image: url(https://cdn130.picsart.com/292846173034211.png);
  background-size: 100% 100%;
}

.add1{
  font-size: 18px;
  padding: 10px 30px;
  background: #ADFF2F;
  margin: 3px;
  position: absolute;
  left: 35%;
}

.add2{
  font-size: 18px;
  padding: 10px 30px;
  background: #ADFF2F;
  margin: 3px;
  position: absolute;
  left: 35%;
}

.search1{
  position: absolute;
  top: 60px;
  left: 30%;
}

.search2{
  position: absolute;
  top: 60px;
  left: 30%;
}

